.formik_singin {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        width: 364px;
        height: 52px;
        padding-left: 20px;
        border: 1px solid #dddfe2;
        border-radius: 7px;
        font-size: 16px;
    }

    p {
        color: red;
        font-size: 15px;
    }
    button{
        width: 384px;
        height: 52px;
        background-color: #1877F2;
        font-size: 20px;
        color: white;
        border: 0 solid #1877F2;
        border-radius: 10px;
        &:hover{
            background-color: #1877F2;
        }
    }
}